name: Add Metadata to Markdown

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Find and update Markdown file
        id: find_file
        run: |
          test2=$(git diff --name-only HEAD)
          echo test2
          test=$(git diff --name-only HEAD |  grep -E '\.md$' | head -n 1)
          echo $test
          md_file=$(git diff --name-only HEAD^ HEAD | grep -E '\.md$' | head -n 1)
          if [[ -n "$md_file" ]]; then
            echo "Found Markdown file: $md_file"
            sed -i "1i <span style=\"background-color:#fff5b1\">Author : $GITHUB_ACTOR / Last Update : $(date +'%Y-%m-%d')</span>" "$md_file"
          else
            echo $md_file
            echo "No Markdown files found."
            exit 1
          fi

      - name: Commit and push changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add .
          git commit -m "Add metadata to Markdown file"
          git push
